@{
    ViewBag.Title = "Chi Siamo";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">La Nostra Storia</h1>
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <p class="lead" style="max-height: 200px; overflow-y: auto;">
                        Benvenuti nel mondo di G Boutique, dove la moda incontra l'eleganza e l'innovazione da oltre 20 anni. La nostra storia è una testimonianza di passione, impegno e creatività nel mondo dell'abbigliamento.
                    </p>
                </div>
            </div>
            <div class="text-center mb-4">
                <img src="~/images/immagine22.jpg" alt="Immagine 2" class="img-fluid rounded boutique-img" style="width: 1000px; height: 600px;">
            </div>
            <div class="text-center mb-4">
                <p class="lead">
                    Fondata nel 2000, siamo partiti da umili origini con il sogno di creare capi di abbigliamento unici che riflettessero lo stile e la personalità di chi li indossa. Nel corso degli anni, abbiamo attraversato molte sfide e successi, ma la nostra dedizione alla qualità e alla soddisfazione del cliente è rimasta sempre immutata.
                </p>
            </div>
            <div class="text-center mb-4">
                <img src="~/images/immagine10.jpg" alt="Immagine 10" class="img-fluid rounded boutique-img" style="width: 1000px; height: 600px;">
            </div>
            <div class="text-center mb-4">
                <p class="lead">
                    Ci impegniamo costantemente a rimanere al passo con le ultime tendenze della moda, esplorando nuove tecniche di design e lavorando con materiali di alta qualità per offrire ai nostri clienti un'esperienza di shopping straordinaria.
                </p>
            </div>
            <div class="text-center mb-4">
                <img src="~/images/immagine3.jpg" alt="Immagine 3" class="img-fluid rounded boutique-img" style="width: 1000px; height: 600px;">
            </div>
            <div class="text-center">
                <p class="lead">
                    Ogni capo di abbigliamento che produciamo è frutto di un'attenzione ai dettagli senza pari, dalla fase di progettazione alla realizzazione. Siamo orgogliosi di offrire una vasta gamma di collezioni che spaziano dai classici intramontabili ai design contemporanei, garantendo che ogni cliente trovi qualcosa che si adatti al suo stile unico.
                </p>
                <p class="lead">
                    Ma non siamo solo un'azienda di moda - siamo una comunità. Ci impegniamo ad essere parte attiva delle comunità in cui operiamo, supportando cause locali e promuovendo l'inclusione e la diversità.
                </p>
                <p class="lead">
                    Founders: Iacopo Cucchi and Manuele Galeffi.
                </p>
            </div>
        </div>
    </div>
</div>
